.ingredients-navbar {
    position: relative;
}

.ingredients-navbar-button {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #8585ad;
    padding: 15px 0;
    width: calc(100% / 3);
    position: relative;
    cursor: pointer;
}

.ingredients-navbar-button.active {
    cursor: default;
}

.ingredients-navbar-text-settings {
    color: #f2f2f3;
    font-family: "Jet Brains Mono", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.ingredients-navbar-accent-label {
    position: absolute;
    bottom: -1px;
    left: 0;
    inline-size: 100%;
    block-size: 2px;
    background-color: transparent;
    display: inline-block;
}

.ingredients-navbar-accent-label.active {
    background-color: #4c4cff;
    transition: all 0.3s ease-in-out;
}