.ingredients-text-settings {
    color: #f2f2f3;
    font-family: "Jet Brains Mono", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.ingredients-list-title {
    color: #f2f2f3;
    font-family: "Jet Brains Mono", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    margin: 40px 0 24px 0;
}

.ingredients-list-title:first-child {
    margin-top: 0;
}

.ingredients-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    gap: 32px 40px;
    padding: 0 16px 0 16px;
    margin: 0;
}

.ingredient-list-item {
    display: block;
    max-width: 272px;
}

.ingredients-list-item-error {
    display: inline-block;
    inline-size: 272px;
    block-size: 272px;
    background-color: #2f2f37;
}

.ingredient-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredient-img {
    max-width: 240px;
    max-height: 120px;
}

.ingredient-price-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 0;
}

.ingredient-price {
    color: #f2f2f3;
    font-family: "Iceland", fantasy;
    font-size: 28px;
    font-weight: 400;
    line-height: .86;
}

.price-icon {
    display: inline-block;
    block-size: 24px;
    inline-size: 24px;
}

.ingredient-title {
    text-align: center;
    height: 64px;
}

.ingredient-add-button {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #131316;
    border-radius: 25px;
    background-color: #131316;
    margin: 0 auto 24px auto;
    padding: 10px 20px;
    cursor: pointer;
}

.ingredient-add-button:hover {
    background-color: #1c1c21;
    border-color: #1c1c21;
    transition: all 0.3s ease-in-out;
}

.add-icon {
    display: inline-block;
    block-size: 24px;
    inline-size: 24px;
    align-self: center;
}

.add-text {
    align-self: center;
}
