.page_constructor {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 20px 40px 20px;
    overflow: hidden;
}

.page_constructor-text-settings {
    color: #f2f2f3;
    font-family: "Jet Brains Mono", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
}

.constructor_app-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

.constructor_title {
    flex-shrink: 0;
    font-size: 36px;
    margin: 40px 0 20px 0;
}

.ingredients-container {
    display: flex;
    flex-direction: column;
    margin-right: 56px;
}

.ingredients-list-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 25vh;
    margin-top: 40px;
}

.ingredients-list-container::-webkit-scrollbar {
    width: 8px;
}

.ingredients-list-container::-webkit-scrollbar-track {
    background: #2f2f37;
}

.ingredients-list-container::-webkit-scrollbar-thumb {
    background-color: #8585ad;
    background-clip: content-box;
}

.ingredients-list-container::-webkit-scrollbar-thumb:hover {
    background-color: #8585ad99;
    transition: all 0.4s ease-in-out;
}
