.reset-password-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: calc(100vh / 4 + 40px) auto;
    max-width: 1260px;
}

.reset-password-page-title {
    color: #f2f2f3;
    font-family: "Jet Brains Mono", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 24px;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
}

.page-href-container {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    color: #8585ad;
    font-family: "Jet Brains Mono", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.page-href {
    color: #4c4cff;
    cursor: pointer;
    text-decoration: none;
}


