.ingredients-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 40px;
    padding: 0 16px 0 16px;
    margin: 0;
}

.ingredient-item {
    display: block;
/*    background-color: midnightblue;*/
    max-width: 272px;

}

.ingredient-item-img {
    max-width: 240px;
    max-height: 120px;
}

.ingredient-item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-button-container {
    justify-content: center;
}

.add-button {
    border: 1px solid #131316;
    background-color: #131316;
    display: flex;
    margin: 0 auto 24px auto;
    padding: 10px 20px;
    border-radius: 25px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #1c1c21;
    border-color: #1c1c21;
    transition: all 0.3s ease-in-out;
}

.ingredient-item-text-settings {
    color: #f2f2f3;
    font-family: "Jet Brains Mono", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.ingredient-item-title {
    text-align: center;
    height: 64px;
}

.price {
    color: #f2f2f3;
    font-family: "Iceland", fantasy;
    font-size: 28px;
    font-weight: 400;
    line-height: .86;
}

.ingredient-item-price-container {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
}

.price-icon {
   display: inline-block;
    block-size: 24px;
    inline-size: 24px;
}

.add-icon {
    display: inline-block;
    block-size: 24px;
    inline-size: 24px;
    align-self: center;
}

.add-text {
    align-self: center;
}

.overflow-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 25vh;
    margin-top: 40px;
}


.overflow-container::-webkit-scrollbar {
    width: 8px;

}

/* Фоновая часть скроллбара */
.overflow-container::-webkit-scrollbar-track {
    background: #2f2f37;
}

/* Ползунок */
.overflow-container::-webkit-scrollbar-thumb {
    background-color: #8585ad;
    background-clip: content-box;
}

/* При наведении */
.overflow-container::-webkit-scrollbar-thumb:hover {
    background-color: #8585ad99;
    transition: all 0.4s ease-in-out;
}

.ingredients-menu {
    flex: 1 1 auto; /* Растягивается по высоте */
}


